{% extends 'admin.html.twig' %}

{% block title %}Hello TemplateController!{% endblock %}

{% block bodyTitle %}Hello Template!{% endblock %}

{% block bodyContent %}
This friendly message is coming from:
<ul>
    <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/symfony6/demo_v1/src/Controller/TemplateController.php'|file_link(0) }}">src/Controller/TemplateController.php</a></code></li>
    <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/symfony6/demo_v1/templates/template/index.html.twig'|file_link(0) }}">templates/template/index.html.twig</a></code></li>
</ul>
{% endblock %}
